- model_class = Category.new.class
%h1=t '.title', :default => 'Cписок каталогов'
%table{:class=>"table table-striped"}
  %tr
    %th= 'Название'
    %th= 'Дата создания'
  - @categories.each do |category|
    %tr
      %td= link_to category.title, category_posts_path(category.id), :class=>'btn btn-large btn-primary disabled'
      %td=l category.created_at
      %td


