%html{:lang=>"en"}
  %head
    = stylesheet_link_tag "application", :media => "all"
  %body
    = javascript_include_tag "application"
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{:class=>"btn btn-navbar",data: {target: ".nav-collapse", toggle: "collapse"}}
            .icon-bar
            .icon-bar
            .icon-bar
          %a.brand{:href => "#"} Category
          .container.nav-collapse
            .nav
              %li= link_to "Выйти из админки",destroy_admin_session_path, :method => :delete
              - Category.all.each do |cat|
                %li= link_to cat.title, admin_category_offers_path(cat)

    .container
      .content
        .row
          .span9
            =yield
    %footer